@import "_styles.scss";

.welcomeLogIn,
.welcomeSignUp {
 color: white; 
 font-size: 24px;
}

#fridge-icon {
  width: 75%;
  height: auto;
  margin: auto;
}

.fridge-icon-container {
  display: flex;
  justify-content: center;
}